:root {
    /* Color */
    --primary-clr: white;
    --secondary-clr: #2d2d2d;

    --dark-clr: #2f2f2f;
    --light-clr: white;

    /* Dimensions */
    --header-h: 80px;
    --footer-h: 80px;

    --max-page-width: 1080px;
}

/* Reset */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
div {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    -webkit-tap-highlight-color: transparent;
}

/* Utility Classes */
.flex-ctr {
    display: flex;

    align-items: center;
    justify-content: center;
}

.hidden {
    display: none !important;
}

.debug {
    outline: 1px solid red;
}

/* Main Elements */
body {
    width: 100vw;
    height: 100vh;
}

section {
    max-width: var(--max-page-width);
    min-height: 100px;
}

/* Header */
header {
    height: var(--header-h);

    display: flex;

    align-items: center;
    justify-content: center;

    background-color: var(--primary-clr);
}

.header-wrapper {
    width: var(--max-page-width);
    height: 100%;

    display: flex;

    align-items: center;
    justify-content: space-between;
}

#logo {
    font-weight: 900;
    color: var(--secondary-clr);
}

.navbar {
    height: 100%;
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.nav-list {
    position: relative;
    list-style: none;
    padding: 0 1rem;
    height: 100%;

    display: flex;
    gap: 32px;

    align-items: center;
}

.nav-list > li {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list-item {
    text-decoration: none;

    font-size: 1.2rem;

    padding: 0.25rem 0;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--secondary-clr);
    background-color: var(--primary-clr);

    border-bottom: 1px solid var(--primary-clr);

    transition: transform 100ms;
}
.nav-list-item:hover {
    transform: translate(0, -4px);
    /* border-bottom: 1px solid var(--secondary-clr); */
}

/* Main Content */
main {
    padding: 0 32px;
    min-height: calc(100vh - var(--header-h) - var(--footer-h));
    height: max(fit-content, calc(100vh - var(--header-h) - var(--footer-h)));
    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: var(--primary-clr);
}

.hero {
    display: flex;
    gap: 22px;
    flex-direction: column;

    padding: 150px 0;
}

.hero-title {
    font-weight: bold;
    font-size: 3rem;
}
.subhero {
}

.projects {
    padding: 1rem 0 2rem 0;
    width: 100%;

    overflow: hidden;

    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    /* background: lightgoldenrodyellow; */
}

.project-title {
    font-size: 1.4rem;
    color: var(--secondary-clr);
    /* align-self: flex-start; */
    padding: 32px 0;
}

.project-carousel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;

    /* background: lightblue; */
}

.project-wrap {
    /* flex: 0 1 400px; */
    width: 400px;
    /* padding: 0.5rem; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* border-radius: 10px; */
    /* background-color: var(--primary-clr); */
    /* outline: 1px solid var(--secondary-clr); */
}

.img {
    max-width: 100%;
    height: 100%;

    overflow: hidden;

    border-radius: 8px;
    /* background-color: lightgoldenrodyellow; */
}

.img > img {
    width: 100%;
    height: 350px;

    object-fit: cover;
}

@media only screen and (max-width: 810px) {
    .hero {
        padding: 2rem 0;
    }
    .hero-title {
        font-weight: 550;
        font-size: 2.2rem;
    }

    .projects {
        gap: 0px;
    }
    .project-title {
        padding: 1rem 0;
        /* align-self: flex-start; */
    }
    .project-carousel {
        flex-direction: row;
        justify-content: unset;
        flex-wrap: nowrap;
        gap: 10px;
        width: 100%;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
    }

    .project-wrap {
        flex: 0 0 400px;
        scroll-snap-align: center;
        /* margin: 0 0.5rem; */
        margin: 0 calc(50vw - 200px);
    }

    ::-webkit-scrollbar {
        display: none;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 810px) {
    .project-carousel {
        justify-content: space-evenly;
    }
    .project-wrap {
        flex: 0 1 400px;
    }

    .img > img {
        width: 100%;
    }
}

.description {
    padding: 0.5rem 0rem;
    width: 100%;

    color: var(--secondary-clr);
    background-color: var(--primary-clr);
}

.title {
    font-size: 1.3rem;
    font-weight: 600;
}

.subtitle {
}

/* Footer */
footer {
    height: var(--footer-h);
    background-color: var(--primary-clr);
}

.footer-wrapper {
    height: 100%;
}

#copyright {
    font-weight: 400;
    color: var(--secondary-clr);
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
    header {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 750px) {
    .nav-list {
        display: none;
    }
}
