:root {
    /* Color */
}

/* Reset */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
div {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    -webkit-tap-highlight-color: transparent;
}

/* Utility Classes */
.flex-ctr {
    display: flex;

    align-items: center;
    justify-content: center;
}

.hidden {
    display: none !important;
}

.debug {
    outline: 1px solid red;
}
