:root {
    /* Color */
    --primary-clr: white;
    --secondary-clr: #2d2d2d;

    --dark-clr: #2f2f2f;
    --light-clr: white;

    /* Dimensions */
    --header-h: 80px;
    --footer-h: 80px;

    --max-page-width: 1080px;
}

/* Reset */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
div {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    -webkit-tap-highlight-color: transparent;
}

/* Utility Classes */
.flex-ctr {
    display: flex;

    align-items: center;
    justify-content: center;
}

.hidden {
    display: none !important;
}

.debug {
    outline: 1px solid red;
}

/* Main Elements */
body {
    width: 100vw;
    height: 100vh;
}

/* Header */
header {
    height: var(--header-h);

    display: flex;

    align-items: center;
    justify-content: center;

    background-color: var(--primary-clr);
}

.header-wrapper {
    width: var(--max-page-width);
    height: 100%;

    display: flex;

    align-items: center;
    justify-content: space-between;
}

#logo {
    font-weight: 900;
    color: var(--secondary-clr);
}

.navbar {
    height: 100%;
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.nav-list {
    position: relative;
    list-style: none;
    padding: 0 1rem;
    height: 100%;

    display: flex;
    gap: 32px;

    align-items: center;
}

.nav-list > li {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list-item {
    text-decoration: none;

    font-size: 1.2rem;

    padding: 0.25rem 0;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--secondary-clr);
    background-color: var(--primary-clr);

    border-bottom: 1px solid var(--primary-clr);

    transition: transform 100ms;
}
.nav-list-item:hover {
    transform: translate(0, -4px);
    /* border-bottom: 1px solid var(--secondary-clr); */
}

/* Main Content */
main {
    height: calc(100vh - var(--header-h) - var(--footer-h));
    background-color: var(--primary-clr);
}

/* Footer */
footer {
    height: var(--footer-h);
    background-color: var(--primary-clr);
}

.footer-wrapper {
    height: 100%;
}

#copyright {
    font-weight: 400;
    color: var(--secondary-clr);
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
    header {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 750px) {
    .nav-list {
        display: none;
    }
}
